# Riot Games API
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Discord Application (https://discord.com/developers/applications)
DISCORD_APPLICATION_ID=
DISCORD_BOT_TOKEN=
DISCORD_PUBLIC_KEY=

# Google Gemini API (https://aistudio.google.com/apikey)
GEMINI_API_KEY=
